DevHub/force-app/main/default/flows/RCP_Currency_Converter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CurrencyData</name>
        <label>CurrencyData</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>currencyAPI</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Debug</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>amount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>currencyFrom</name>
            <value>
                <elementReference>currencyFrom</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>currencyTo</name>
            <value>
                <elementReference>currencyTo</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <choices>
        <name>GBP</name>
        <choiceText>GBP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GBP</stringValue>
        </value>
    </choices>
    <choices>
        <name>TRY</name>
        <choiceText>TRY</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TRY</stringValue>
        </value>
    </choices>
    <choices>
        <name>USD</name>
        <choiceText>USD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>USD</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <interviewLabel>RCP_Currency Converter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RCP_Currency Converter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>currencyScreen</name>
        <label>currencyScreen</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CurrencyData</targetReference>
        </connector>
        <fields>
            <name>currencyFrom</name>
            <choiceReferences>USD</choiceReferences>
            <choiceReferences>GBP</choiceReferences>
            <choiceReferences>TRY</choiceReferences>
            <dataType>String</dataType>
            <fieldText>currencyFrom</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>currencyTo</name>
            <choiceReferences>TRY</choiceReferences>
            <choiceReferences>GBP</choiceReferences>
            <choiceReferences>USD</choiceReferences>
            <dataType>String</dataType>
            <fieldText>currencyTo</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>amount</name>
            <dataType>Number</dataType>
            <fieldText>amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Debug</name>
        <label>Debug</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ConvertedResult</name>
            <fieldText>&lt;p&gt;{!amount} {!currencyFrom} = {!CurrencyData} {!currencyTo}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>currencyScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
